<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a0a595e-d771-4abd-adfb-d87af1fb44f8" Alias="its a hooose" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/itsAHooose</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T14:42:32</CreateDate>
    <NodeName Default="its a hooose" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0gjfztay/med82a1ea6dd89647c3acff4c43d368b938.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>