<?xml version="1.0" encoding="utf-8"?>
<Media Key="273b0ce4-0376-4639-8942-04c063f89597" Alias="loadcat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/loadcat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-24T16:07:22</CreateDate>
    <NodeName Default="loadcat" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/npdh1ei5/loadcat.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>