<?xml version="1.0" encoding="utf-8"?>
<Media Key="db38add3-b568-43db-8b26-8a5f7d73315d" Alias="technically-correct" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/technicallyCorrect</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-24T15:55:00</CreateDate>
    <NodeName Default="technically-correct" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lrth21ib/technically-correct.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>