<?xml version="1.0" encoding="utf-8"?>
<Media Key="71d20a1e-f1cd-49f9-ba55-875ece46081a" Alias="whaaaaaat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/whaaaaaat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T14:47:59</CreateDate>
    <NodeName Default="whaaaaaat" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/shajjr3e/a_blobcat_whaaaaat.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>