<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="4035f727-efac-4d1e-ab4a-e71018a5e78d" Alias="damImage" Level="1">
  <Info>
    <Name>DAM Image</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="cc07b313-0843-4aa8-bbda-871c8da728c8">Image</Composition>
    </Compositions>
  </Info>
  <GenericProperties />
  <Structure />
  <Tabs />
</MediaType>