<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="5a223be6-4f19-4cb7-916d-56a231618777" Alias="coolImage" Level="1">
  <Info>
    <Name>Cool image</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure />
  <Tabs />
</MediaType>